{% extends "base.html" %}

{% block title %}tpost_all.html{% endblock %}

{% block content %}
<div id="content">

<h1> Tutorial </h1>

{% for post in posts %}
    <h2><a href='{{tpost.get_absolute_url}}' > {{post.title}}</a></h2>
{% endfor %}

<br/>

<div>
  <span>

    {% if page_obj.has_previous %}
      <a href= "?page={{page_obj.previous_page_number}}"> 이전 페이지</a>
    {% endif %}



    {{page_obj.paginator.num_pages}}페이지중 {{page_obj.number}} 페이지

    {% if page_obj.has_next %}
      <a href= "?page={{page_obj.next_page_number}}"> 다음 페이지</a>
    {% endif %}

{% endblock%}
