{% extends "base.html" %}

{% block title %}register.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">

    <h1>회원 가입</h1>

    <form method="post" action="."> {% csrf_token %}

    {% if form.errors %}
    <p class="errornote">올바르지 않은 형식입니다! 다시 입력해주세요</p>
    {% endif %}

    <p>바르게 작성해 주세요</p>

    <fieldset class="aligned">

        <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
        </div>

        <div class="form-row">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>

        <div class="form-row">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="등록"/>
    </div>

    <script type="text/javascript">document.getElementById("id_username").focus();</script>
    </form>

</div>
{% endblock %}
